.landing-page {
	-webkit-filter: blur(12px);
	background-image: url(/hearthstone.jpg);
	position: fixed;
	z-index: -1;
	opacity: 0.5;
	min-width: 100%;
	min-height: 100%;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translate3d(0, 0, 0);
}

.landing-page-wrapper {
	position: fixed;
	height: 100%;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	z-index: -2;
	background-color: #000;
}

.user-panel {
	background-color: rgba(255, 255, 255, 0.4);
	border:none;
}

label {
	cursor: default !important;
	font-weight: bold;
}

.active a {
	font-weight: bold;
}

input[type='username'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	background-color: #fff;
	font-family: inherit;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.75);
	display: block;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
}

.navigation {
	height:100%;
	background-color: #333333;
}

#nav-bar {
	position: fixed;
	z-index: 1000;
	top:0;
	left:0;
	bottom:0;
}
#content {
	float:right;
}

.text-center {
	text-align: center;
}

.header {
	position:relative; 
	margin: 3vh auto 3vh auto;
}

.header.left-indent {
	left:4vw;
}