<template name="inbox">
    {{#if isNotEmpty conversations}}
        <ul class="conversationsList">
            {{#each conversations}}
                <li class="conversationSelector">
                {{getOtherParticipantName participants}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <div class="conversationsList">
            No active conversations
        </div>
    {{/if}}

    {{ #if exists messages }}
		{{>conversationView}}
    {{else}}
        {{>emptyConversationView}}
    {{/if}}
</template>