<template name="profile">
    <div class="row">
      <div class="medium-8 medium-centered columns">
        <div class="row">
            <div class="small-12">
                <h1>{{username}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns">
                <a class="th" href="#">
                    <img src='http://lorempixel.com/300/300/animals/' />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                Ign:
            </div>
            <div class="small-9 columns">
                {{profile.ign}}
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <button>Message me</button>
            </div>
            <div class="small-6 columns">
                <button>Challenge me</button>
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                Description:
            </div>
            <div class="small-9 columns">
                {{profile.description}}
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                Decks I Use:
            </div>
            <div class="small-9 columns">
                {{#each profile.decksUsed}}
                    <a href="#" class="secondary radius label"> {{this}} </a>
                {{/each}}
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                Decks I am Looking to Face:
            </div>
            <div class="small-9 columns">
                {{#each profile.preferredDecksToFace}}
                    <a href="#" class="success radius label"> {{this}} </a>
                {{/each}}
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                Decks I Do Not Like Facing:
            </div>
            <div class="small-9 columns">
                {{#each profile.dislikedDecksToFace}}
                    <a href="#" class="alert radius label"> {{this}} </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</template>