<template name="search">
	<h2 style="text-align: center;">search</h2>

	<form action="action" id="searchBox">
		<div class="row">
			<div class="small-3 column">
				<input type="text" data-filter-id="username" class="field" placeholder="username">
			</div>
			<div class="small-3 column">
				<input type="text" data-filter-id="profile.decksUsed" class="field" placeholder="username">
			</div>
			<div class="small-3 column">
				<input type="text" data-filter-id="profile.preferredDecksToFace" class="field" placeholder="username">
			</div>
			<div class="small-3 column">
				<input type="text" data-filter-id="profile.dislikedDecksToFace" class="field" placeholder="username">
			</div>
		</div>
	</form>
	<div class="row">
		<div class="column small-12">
		<ul class="small-block-grid-4">
		{{#each searchUsers}}
			<li>
				{{>userSearchCard}}
			</li>
		{{/each}}
		</ul>
		</div>
	</div>
</template>