<template name="search">
	<h2 style="text-align: center;">search</h2>

	<form action="action" id="searchBox">
		<div class="row">
			<div class="small-3 column">
				<input type="text" data-filter-id="username" class="field" placeholder="username">
			</div>
			<div class="small-3 column">
				<input type="text" data-filter-id="username" class="field" placeholder="username">
			</div>
			<div class="small-3 column">
				<input type="text" data-filter-id="username" class="field" placeholder="username">
			</div>
			<div class="small-3 column">
				<input type="text" data-filter-id="username" class="field" placeholder="username">
			</div>
		</div>
	</form>
	<div class="row">
		{{#each searchUsers}}
			<div class="column small-3">
				{{>userCard}}
			</div>
		{{/each}}
	</div>
</template>