<template name="register">
	<div>

		<form id="register-form" action="action" >
			<div class="row" style="padding:0 1em">

				<div class="row">
					<div class="large-12 columns">
						<label class="left">Username</label>
						<input type="username" id="account-username" />
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
						<label class="left">Password</label>
						<input type="password" id="account-password" />
					</div>
				</div>

				<input type="submit" class="button" id="create-account" value="Create an Account" />
			</div>
		</form>

	</div>
</template>