<template name="profile">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="header text-center">
                {{username}} <small>[{{#if profile.ign}} {{profile.ign}} {{else}} 'N/A' {{/if}}]</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <a class="th super-center" href="#">
                <img src='http://lorempixel.com/300/300/animals/' />
            </a>
        </div>
    </div>

    <div id="profile-content">
        <div class="row">
            <div class="small-12 columns">
                <button type="button" id="messageButton" class="button radius large super-quarter message">Message</button>
                <button type="button" id="challengeButton" class="button radius large super-quarter alert challenge">Challenge</button>
            </div>
        </div>

        <div class="row">
            <div class="small-8 medium-centered columns">
                <div class="row">
                    <div class="small-12 columns clearfix">
                        <h5 class="left">my decks:</h5>
                        <ul class="inline-list clearfix">
                            {{#each profile.decksUsed}}
                            <li class="no-spacing right">
                                <a href="#" class="secondary radius label"> {{this}} </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns clearfix">
                        <h5 class="left">decks I want to face:</h5>
                        <ul class="inline-list clearfix">
                            {{#each profile.preferredDecksToFace}}
                            <li class="no-spacing right">
                                <a href="#" class="success radius label"> {{this}} </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns clearfix">
                        <h5 class="left">decks I hate:</h5>
                        <ul class="inline-list clearfix">
                            {{#each profile.dislikedDecksToFace}}
                            <li class="no-spacing right">
                                <a href="#" class="warning radius label"> {{this}} </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="small-12 columns">
                        <h2 class="header">about me: </h2>
                            {{profile.description}}
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <h2 class="header">my games: </h2>
                            <!-- {{profile.games}} -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>